<div class="container">

  <div class="main">
    <% if (lagos) {%>
    <div class="class">
      <div class="head">
        <div> <img src=<%= "http://openweathermap.org/img/wn/" + lagos.weather[0].icon + "@2x" + ".png" %>
            alt=<%= lagos.weather[0].description %> class="img"> </div>
        <p class="temp-desc"><%= lagos.weather[0].description %></p>
        <h3 class="lag"> <%= lagos.name %></h3>
        <p class="temp"> <%= lagos.main.temp %><sup>&#176</sup></p>
      </div>
      <div class="temp2">
        <div class="innermain">
          <div>
            <div class="tb">Feels like <%= lagos.main.feels_like %><sup>&#8451</sup></div>
          </div>
        </div>
      </div>
    </div>
    <div class="sk-chase none">
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
    </div>

    <div class="notfound none">
        <h3>Location not Found</h3>
    </div>



    <% } %>

  </div>





  <div class="cities">
    <% if (data) {%>
    <table  class="citi">
      <% data.forEach(city => { %>
        <tr>
          <td>
            <div class="citi-name"> <%= city.name %></div>
          </td>
          <td>
            <div class="citi-temp"><%= city.main.temp %><sup>&#8451</sup></div>
          </td>
          <td>
            <div> <img src=<%= "http://openweathermap.org/img/wn/" + city.weather[0].icon + "@2x" + ".png" %>
                alt=<%= city.weather[0].description %> class="img2"> </div>
          </td>
          <td>
            <div class="city-desc"><%= city.weather[0].description %></div>
          </td>
        </tr>
      <% })}; %>
    </table>
  </div>
</div>